<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(44, 46, 45); color: antiquewhite;">
    <a class="navbar-brand" href="#">
        <img src="https://seeklogo.com/images/P/premier-league-logo-7B3F0F173A-seeklogo.com.png" width="50" height="50" alt="premier-league-logo">
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" style="padding: 10px;">
            <h5><span class="badge" routerLink="/home">Home</span></h5>
        </li>
        <li class="nav-item" style="padding: 10px;">
            <h5><span class="badge" routerLink="/enroll-club">Enroll Club</span></h5>
  
        </li>
        <li class="nav-item" style="padding: 10px;">
            <h5><span class="badge" routerLink="/enroll-match">Enroll Match</span></h5>
        </li>
        <li class="nav-item" style="padding: 10px;">
            <h5><span class="badge" routerLink="/match-list">Match List</span></h5>
        </li>
        <li class="nav-item" style="padding: 10px;">
            <h5><span class="badge" routerLink="/match-result">Match Result</span></h5>
        </li>
        <li class="nav-item" style="padding: 10px;">
            <h5><span class="badge" routerLink="/help-app">Help</span></h5>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
        <button routerLink="/search-result" class="btn my-1 my-sm-0" type="submit" 
        style="color: rgb(0, 139, 253); border-color: rgb(0, 139, 253); background-color: transparent; ">Search</button>
      </form>
    </div>
</nav>