<div class="page-container">
    <h2 style="text-align: center; padding: 20px">List of Matches Played</h2>
    <div class="content-text">

        <div class="d-flex p-2 bd-highlight">
            <button type="submit" (click)="generateMatch" class="btn btn-primary">Sort by Wins</button>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Club One Name</th>
                <th scope="col">Club One Score</th>
                <th scope="col">Club Two Name</th>
                <th scope="col">Club Two Name</th>
                <th scope="col">Match Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th style="background-color: white;" scope="row">1</th>
                <td>Barcelona</td>
                <td>10</td>
                <td>2</td>
                <td>8</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>
        
    </div>
  </div>
