<div class="page-container">
    <h2 style="text-align: center; padding: 20px">List of Clubs</h2>
    <div class="content-text">

        <div class="d-flex p-2 bd-highlight">
            <button type="submit" (click)="sortWins" class="btn btn-primary">Sort by Wins</button>
            <button type="submit" (click)="sortScore" class="btn btn-primary" style="left: 1%; position: relative;">Sort by Score</button>
        </div>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Club Name</th>
                <th scope="col">Matches Played</th>
                <th scope="col">Matches Won</th>
                <th scope="col">Matches Draw</th>
                <th scope="col">Matches Loss</th>
                <th scope="col">Goal Recived</th>
                <th scope="col">Goal Score</th>
                <th scope="col">Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th style="background-color: white;" scope="row">1</th>
                <td>Barcelona</td>
                <td>10</td>
                <td>2</td>
                <td>8</td>
                <td>12</td>
                <td>15</td>
                <td>20</td>
                <td>6</td>
              </tr>
            </tbody>
          </table>
        
    </div>
  </div>

